#daftar-siswa{
    background-color: #808080 ; 
}
.siswa{
    color: #F3F4F6;
    text-transform: capitalize;
    font-weight: 400;
    font-family: sans-serif;
    padding: 10px 15px;
    margin: 0;
}
#daftar-siswa :hover{
    background-color: #E5E7EB;
    color: #111827;
}



