#daftar-siswa{
    background-color: #DFDFDF;
}

#daftar-siswa :first-child{
    background-color:#60A5FA ;
}

#daftar-siswa :last-child{
    background-color:#F87171 ;
}

#daftar-siswa :hover{
    background-color: #E5E7EB;
}



